.blackScreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200%;
  background-color: black;
  transform: translateX(-200vw);
  transition: transform 1.5s;

  &.is-changed {
    transform: translate(200vw);
  }
  z-index: 3;
}

.question {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  padding-top: 40px;

  &.add-comics {
    background: url(../img/comics.png) no-repeat;
    background-size: cover;
  }

  &.add-sf {
    background: url(../img/sf.png) no-repeat;
    background-size: cover;
  }

  &.add-movie {
    background: url(../img/movie.png) no-repeat;
    background-size: cover;
  }

  &.add-fantasy {
    background: url(../img/Fantasy.png) no-repeat;
    background-size: cover;
  }

  &.add-videogame {
    background: url(../img/videogame.png) no-repeat;
    background-size: cover;
  }

  .quiz__logo {
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    height: 09vh;
  }

  .question__score {
    color: #fff;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
      0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
      -1px 1px 0 #000000;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .question__bloc {
    height: 60vh;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border: #fff double 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .reply__bloc {
      width: 80%;
      display: flex;
      flex-wrap: wrap;

      .reply {
        height: 20vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 30px;

        &.reply--left {
          margin-left: 90px;
        }

        .reply__border {
          position: absolute;
        }

        .question__reply {
          margin-bottom: 20px;
        }

        .reply__touch {
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
      }
    }
  }
}
