.blackScreen {
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  width: 200%;
  background-color: black;
  transform: translateX(-200vw);
  transition: transform 1.5s;

  &.is-changed{
    transform: translate(200vw);
  }
}

.question {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  
  .question__score {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }


  .question__reply {
    margin-top: 50px;
    .reply--block {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px; 

      .reply__one {
        margin-right: 100px;
      }
    }
  }
}