.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background: url(../img/bg-screen.jpg) no-repeat;
  background-size: cover;



  .home__playerTouche {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 6vh;
  }
  
  .home__gameStart {
    margin-bottom: 6vh;
  }

  .home__tuto {
    position: absolute;
    left: 30px;
    bottom: 30px;
    cursor: pointer;
  }

  .home__logo{
    width: 50%;
    margin-bottom: 10vh;
  }

}

.tuto__section {
  position: absolute;
  height: 85vh;
  width: 85%;
  background: #252525;
  opacity: 0;
  transition: opacity 1s;
  border: black solid 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.is-visible {
    opacity: 1;
  }
   h2 {
     font-size: 24px;
     text-decoration: underline;
   }

   h2,p {
     margin-bottom: 50px;
   }

   .tuto__key {
     display: flex;
     justify-content: center;
     align-items: center;

     .Key--player1 {
       margin-right: 100px;
     }

     h3 {
      margin-bottom: 25px;
     }

     h4 {
       margin-bottom: 35px;
     }

     span {
       font-size: 30px;
     }

   }

}
