.intro {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bowser__logo {
  opacity: 1;
  transition: opacity 1s;
  max-width: 25%;

  &.is-invisible {
    opacity: 0;
  }
}

.hetic__logo {
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 49%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: opacity 1s;

  &.is-visible{
    opacity: 1;
  }
}
